@model BarEventsManager.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bar Events Manager</h1>
    <p class="lead">Welcome to the app lolz</p>

    <div class="row">
        <input class="input-group-lg" type="text" id="needle" placeholder="search something" />
        <button id="searchButton" onClick="searchEvents();"><i class="glyphicon glyphicon-search"></i></button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" id="shoppingCart">
        @Html.Partial("_shoppingCart", Model.ShoppingCart)
    </div>
</div>





<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Title</h3>
            </th>
            <th>
                <h3>Description</h3>
            </th>
            <th>
               <h3>Start time</h3>
            </th>
            <th>
                <h3>End Time</h3>
            </th>
            <th>
                <h3>Venue</h3>
            </th>
            <th>
                <h3>Price</h3>
            </th>
        </tr>
    </thead>
    <tbody id="results">
       @Html.Partial("_ListOfEvents", Model.Events)
</tbody>
</table>
